<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="I-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>Document</title>
     
</head>
<body>
    <center>
        <form action='.' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Đăng kí"/>
        </form>
    </center>
</body>
</html>