<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="I-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>Document</title>
    <style>
            label{
                width:140px!important; 
                display:inline-block;
                text-align:left!important;
            }
            ul{
                list-style:none!important;
            }
            li{
                color:red!important;
            }
   </style>
</head>
<body class="pt-5">
    <center>
        <h3 class="text-primary font-weight-bold mt-5">ĐĂNG KÝ TÀI KHOẢN</h3></br>
        <form action='.' method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-outline-primary" value="Đăng kí"/>
            
        </form>
    </center>
</body>
</html>